<div id="cocktailList">
    <p><% matchByCocktailName %></p>
    </div>

<div class="cocktails-container">
    <% matchByCocktailName.drinks.forEach(function(drink) { %>
        <div class="small-container">
            <h4><%= drink.strDrink %></h4>
            <p><%= drink.strInstructions %>
            <img src=<%= drink.strDrinkThumb %> />
            <form method="POST" action="/favoritedrinks">
                <input hidden type="text" name="name" value="<%= drink.name %>">
                <button class="faveBtn" type="submit">Add to Favorite Drinks</button>
            </form>
        </div>
    <% }); %>
</div>

<div id="cocktailList">
    <p><% matchByIngredient %></p>
    </div>

<div class="cocktails-container">
    <% matchByIngredient.drinks.forEach(function(drink) { %>
        <div class="small-container">
            <h4><%= drink.strDrink %></h4>
            <p><%= drink.strInstructions %>
            <img src=<%= drink.strDrinkThumb %> />
            <form method="POST" action="/favoritedrinks">
                <input hidden type="text" name="name" value="<%= drink.name %>">
                <button class="faveBtn" type="submit">Add to Favorite Drinks</button>
            </form>
        </div>
    <% }); %>
</div>