<div id="cocktailList">
    <% if(matchByCocktailName) { %>
        <p><%= matchByCocktailName %></p>
    <% } else { %>
        <p><%= matchByCocktailIngredient.strIngredient1 %></p>
    <% } %>

    </div>

<div class="cocktails-container">
    <% matchByCocktailName.drinks.forEach(function(drink) { %>
        <div class="small-container">
            <h4><%= drink.strDrink %></h4>
            <p><%= drink.strInstructions %>
            <img src=<%= drink.strDrinkThumb %> />
            <form method="POST" action="/profile">
                <input hidden type="text" name="name" value="<%= drink.name %>">
                <button class="faveBtn" type="submit">Add to Favorite Drinks</button>
            </form>
        </div>
    <% }); %>
</div>

