<div id="cocktailList">
    <% console.log(typeof matchByCocktailName); %>
    <% if(matchByCocktailName) { %>
        <!-- this is an object, kept rendering [obj obj] on screen so i deleted the code -->
    <% } else { %>
        <p><%= matchByCocktailIngredient.strIngredient1 %></p>
    <% } %>

    </div>

<div class="cocktails-container">
    <% matchByCocktailName.drinks.forEach(function(drink) { %>
        <div class="small-container">
            <h2><%= drink.strDrink %></h2>
            <p><%= drink.strInstructions %>
            <img src= <%= drink.strDrinkThumb %> />
            <form method="GET" action="/favorites">
                <input hidden type="text" name="name" value="<%= drink.name %>">
                <button class="faveBtn" type="submit">Add to Favorite Drinks</button>
            </form>
        </div>
    <% }); %>
</div>

